{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>{% block title%}LSD Web application{% endblock %}</title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Macondo' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'> -->
    <link href="{% static "lsd/style.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "lsd/js/jquery-1.12.0.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lsd/js/paperjs/dist/paper-full.min.js" %}"></script>
    <link href="{% static "lsd/bootstrap-3.3.6-dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <script src="{% static "lsd/bootstrap-3.3.6-dist/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lsd/js/functions.js" %}"></script>
    <link href="{% static "lsd/js/jstreedraw.css" %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static "lsd/js/jstreedraw.js" %}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    {% block refresh %}
    {% endblock %}
  </head>
  <body>
    <div id="header">
      Least Squares Dating
    </div>
    <div id="leftpanel">
      {% if user.is_authenticated %}
      <p class="login-info"><span class="glyphicon glyphicon-user"></span>{{ user.first_name }} {{ user.last_name }}</p>
      <div class="list-group">
	<a class="list-group-item" href="{% url 'lsd:index' %}">New Run<span class="glyphicon glyphicon-right glyphicon-plus"></span></a>
	<a class="list-group-item" href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.get_full_path|urlencode }}">Logout<span class="glyphicon glyphicon-right glyphicon-log-out"></span></a>

      </div>
      Runs:<br/>
      <div class="list-group" id="runlist">
	{% for run in user.lsdrun_set.all %}
	<a class="list-group-item" href="{% url 'lsd:check_run' %}?jid={{run.run_name}}">{{run.run_date}}<span class="label label-pill label-{{run.run_status}} ">{{run.run_status}}</span></a>
	{% endfor %}
      </div>
      {% else %}
      <div class="list-group">
	<a class="list-group-item" href="{% url 'lsd:index' %}">New Run<span class="glyphicon glyphicon-right glyphicon-plus"></span></a>
	<a class="list-group-item" href="{% url 'django.contrib.auth.views.login' %}?next={{ request.get_full_path|urlencode }}">Login<span class="glyphicon glyphicon-right glyphicon-log-in"></span></a>
	<a class="list-group-item" href="{% url 'lsd:create_account' %}">Create account<span class="glyphicon glyphicon-right glyphicon-user"></span></a>
      </div>
      {% endif %}
    </div>
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    <div id="rightpanel">
    </div>
    <div id="footer">
      <hr/>
      LSD - 2016
    </div>
  </body>
</html>
