{% extends "lsd/base_generic.html" %}

{% block content %}
<h1>LSD Run Results</h1>

  <div class="row">
    <div class="col-sm-1 col-title">
      <p>Status</p>
    </div>
    <div class="col-sm-11">
      <p><span class="label label-{{statusshort}}">{{status}}</span></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1 col-title">
      <p>Tree</p>
    </div>
    <div class="col-sm-11">
      <div class="resulttree">
	<!-- <img src="data:image/png;base64,{{image}}"/> -->
	<div class="canvaswrapper">
	  <canvas class="tree_canvas" data-newick-url="{% url 'lsd:check_run' %}?jid={{jid}}&newick=0"></canvas>
	</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1 col-title">
      <p>Export</p>
    </div>
    <div class="col-sm-11">
      <div>
	<a class="label label-info" href="{% url 'lsd:check_run' %}?jid={{jid}}&png=0">png</a>
	<a class="label label-warning" href="{% url 'lsd:check_run' %}?jid={{jid}}&nexus=0">nexus</a>
	<span class="dropdown">
	  <a class="label label-success dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    share
	  </a>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width:200px;">
	    <div class="form-group has-feedback">
	    <label class="control-label">Copy URL</label>
	    <input type="text" class="form-control input-sm" value="{{ baseurl }}" placeholder="Username" id="copyurl"/>
	    <span class="glyphicon glyphicon-copy form-control-feedback" id="copyurlglyph"></span>
	    <div class="alert alert-success alert-dismissible fade in" role="alert" id="copyalert">
	      <span id="copyresult"></span>
	    </div>
	    </div>
	  </div>
	</span>
	
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-sm-1 col-title">
      <p>Messages</p>
    </div>
    <div class="col-sm-11">
      <ul class="nav nav-tabs">
	<li class="active nav-item"><a href="#output-messages" aria-controls="output" class="nav-link" role="tab" data-toggle="tab" ><span class="glyphicon glyphicon-console"></span>Output</a></li>
	<li class="nav-item"><a href="#error-messages" aria-controls="error" class="nav-link" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-console"></span> Error</a></li>
      </ul>
      <div class="tab-content">
	<div role="tabpanel" class="tab-pane active" id="output-messages">
	  <pre class="terminal-messages">
	    {{output}}
	  </pre>
	</div>
	<div role="tabpanel" class="tab-pane" id="error-messages">
	  <pre class="terminal-messages">
	    {{error}}
	  </pre>
	</div>
      </div>
    </div>
  </div>

{% endblock %}
