{% extends "lsd/base_generic.html" %}

{% block content %}
<h1>LSD Run Error</h1>

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Your Job Status is in error state, with the following message<br/>
</div>

<ul class="nav nav-tabs">
  <li><a href="#output-messages" aria-controls="output" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-console"></span>Output</a></li>
  <li class="active"><a href="#error-messages" aria-controls="error" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-console"></span> Error</a></li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="output-messages">
    <pre class="terminal-messages">{{output}}</pre>
  </div>
  <div role="tabpanel" class="tab-pane active" id="error-messages">
    <pre class="terminal-messages">{{error}}</pre>
  </div>
</div>

{% endblock %}
