{% extends "lsd/base_generic.html" %}
{% load staticfiles %}

{% block content %}
<div>
  <p></p>
  <p>
    <h3>What is LSD?</h3>
        LSD is a bioinformatic tool designed to estimate dates of nodes in a phylogeny.<br/>With LSD, you may:
<ul>
    <li>Date ancestral nodes</li>
    <li>Compute confidence intervals on nodes</li>
    <li>Estimate the root</li>
    </ul>
  <p class="imagehome"><img src="{% static "lsd/banner4_tree.png"%}" class="homepage"/></p>
    
    If you want to learn more about LSD, <a href="{% url 'lsd:help' %}" role="button">see help</a></p>
    <a class="btn btn-primary btn-lg" href="{% url 'lsd:new_run' %}" role="button">RUN LSD</a></p>
  </p>
  
  <p>
    <h3>Citing LSD</h3>
    If you use this service, please cite :
    <blockquote class="front-cite">Fast dating using least-squares criteria and algorithms,
      T-H. To, M. Jung, S. Lycett, O. Gascuel,
      <a href="http://www.ncbi.nlm.nih.gov/pubmed/26424727">Syst Biol. 2016 Jan;65(1):82-97</a>.</blockquote>
  </p>
</div>
{% endblock %}
