{% extends "lsd/base_generic.html" %}

{% block content %}

{% if error %}
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{error}}<br/>
</div>
{% endif %}

<form action="{% url 'lsd:submit_run' %}" method="post" enctype="multipart/form-data" id="newrunform">
  <input type="hidden" name="constraints" id="constraints" value="True"/>
  <input type="hidden" name="variancesornot" id="variances" value="True"/>
  <input type="hidden" name="outgrouplist" id="outgrouplist" value="" />
  <input type="hidden" name="varianceparam" id="varianceparam" value="10" />
  <input type="hidden" name="nb_samples" id="nb_samples" value="10" />
  <input type="hidden"  name="lowboundrate" id="lowboundrate" value="0.000010" />
  <input type="hidden"  name="inputtreestring" id="inputtreestring" value="" />

{% csrf_token %}
  
<!-- Tab panes -->
    <div class="form-group row">
      <label for="inputtree" class="col-sm-2 form-control-label">Choose input tree file</label>
      <div class="col-sm-10">
	<input type="file" class="form-control-file" id="inputtree" name="inputtree" />
	<small class="text-muted">The input file may contain one tree in newick format. If several trees are given, only the first is analyzed</small>
	<div class="alert alert-danger fade in" id="treeerror" style="display:none;">
	  <span id="treeerrortext"></span>
	</div>
	<div class="alert alert-success fade in" id="treesuccess" style="display:none;">
	  <span id="treesuccesstext"></span>
	</div>
      </div>
    </div>
    <div class="form-group row" id="treeinfo" style="display:none;">
      <label class="col-sm-2 form-control-label">Informations about Loaded Tree</label>
      <div class="col-sm-10">
	<div id="rootedtreediv" style="display:none;">
	  The tree is rooted.
	  Do you want to reroot using an outgroup?
	</div>
	<div id="unrootedtreediv" style="display:none;">
	  The tree is unrooted.
	  Do you want to root using an outgroup?
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" data-target="div#yesoutgroup" data-toggle="radio-collapse" name="outgroupornot" id="yesoutgroup" value="yes"/>
	    Yes
 	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" data-target="div#nooutgroup" data-toggle="radio-collapse" name="outgroupornot" id="nooutgroup" value="no" checked/>
	    No
 	  </label>
	</div>
	<fieldset class="form-group">
	  <div id="nooutgroup">
	    <div id="nooutgroupselect">
	    Estimate the root:
	    <select name="estimateroot" class="c-select" id="estimaterootselect">
	      <option value=\"a\" selected>Searches on all branches</option>
	    </select>
	    </div>
	  </div>
	  <div id="yesoutgroup">
	    Select some of the outgroup species
	    <select data-placeholder="Selected taxa" multiple class="chosen-select-width" tabindex="0" id="taxon"/>
	    <ul class="list-group" id="alltaxalist">
	    </ul>
	    <input type="button" class="btn btn-primary" id="getancestor" value="More Taxa"/>
	    <input type="button" class="btn btn-danger" id="clearoutgroup" value="Clear Outgroup"/>
	    <br/><input type="checkbox" id="removeoutgroup" checked="checked" />Remove outgroup after reroot<br/>

	    <div class="alert alert-danger fade in" id="outgrouperror" style="display:none;">
	      <span id="outgrouperrortext"></span>
	    </div>
	    <div class="alert alert-success fade in" id="outgroupsuccess" style="display:none;">
	      <span id="outgroupsuccesstext"></span>
	    </div>
	  </div>
	</fieldset>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputtree" class="col-sm-2 form-control-label">Date information      
	<small class="text-muted">You can enter a date file or just root date and tips date</small>
      </label>
      <div class="col-sm-10">
	<div class="radio">
	  <label>
	    <input type="radio" data-target="div#yesdates" data-toggle="radio-collapse" name="datesornot" id="yesdates" value="yes" checked/>
	    You have a date file
 	  </label>
	</div>
	<div class="radio">
	  <label>
	    <input type="radio" data-target="div#nodates" data-toggle="radio-collapse" name="datesornot" id="nodates" value="no"/>
	    You have no date file
 	  </label>
	</div>

	<fieldset class="form-group">
	  <div id="yesdates">
	    Choose input date file
	    <input type="file" class="form-control-file" id="inputdate" name="inputdate" />
	    <small class="text-muted">The input file should be formated as : first line: number of dates, and then two tab separated columns with 1) taxon name, and 2) date</small>
	  </div>
	  <div id="nodates">
	    <fieldset class="form-group">
	      <label for="enterrootdate">Enter the date of the root</label>
	      <input type="text" class="form-control" name="rootdate" id="enterrootdate" placeholder="Root date">
	    </fieldset>
	    <fieldset class="form-group">
	      <label for="entertipsdate">Enter the date of the tips</label>
	      <input type="text" class="form-control" name="tipsdate" id="entertipsdate" placeholder="Tips date">
	    </fieldset>
	  </div>
	</fieldset>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputtree" class="col-sm-2 form-control-label">Confidence Intervals</label>
      <div class="col-sm-10">
	<input type="checkbox" name="with_conf_int" id="with_conf_int" checked="checked" />Compute confidence interval on dates<br/>
	<small class="text-muted">You can specify if you want to compute confidence intervals (slower) or not (faster)</small>
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Substitution rate</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" id="substrate" name="substrate" placeholder="None"/>
	<small class="text-muted"> rate: If you have one, you may enter a substitution rate for the tree</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 form-control-label">Sequence length</label>
      <div class="col-sm-10">
	<input type="text" class="form-control" name="seqlength" id="seqlength" value="1000" />
	<small class="text-muted"> sequence length: Please enter the length of the sequences used to build the tree</small>
      </div>
    </div>
<button type="submit" class="btn btn-default">Run LSD</button>

</form>

{% endblock %}
