{% include "lsd/header.html" %}

<h1>Submit LSD Run</h1>

<br/>Input Tree File: {{inputtree}}
<br/>Dates? {{datesornot}}
<br/>Inputdate: {{inputdate}}
<br/>Root Date: {{rootdate}}
<br/>Tips Date: {{tipsdate}}
<br/>Constraints: {{constraints}}
<br/>Lowbound rate: {{lowboundrate}}
<br/>Variances? {{variancesornot}}
<br/>Variance param: {{varianceparam}}
<br/>Seq length: {{seqlength}}
<br/>Estimate Root: {{estimateroot}}
<br/>Subst rates: {{substrates}}
<br/>Outgroup file: {{outgroups}}
<br/>Job id : {{jid}}

{% include "lsd/footer.html" %}
